In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame({"key":list("ABC")*2,"data1":range(6),"data2":np.arange(5,11)})

In [3]:
df

  key  data1  data2
0   A      0      5
1   B      1      6
2   C      2      7
3   A      3      8
4   B      4      9
5   C      5     10

In [4]:
group=df.groupby("key")

In [7]:
group.agg(["min",np.median,"max"])

C:\Users\Adria\AppData\Local\Temp\ipykernel_34528\169813708.py:1: FutureWarning: The provided callable <function median at 0x000001A72391FF60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  group.agg(["min",np.median,"max"])

    data1            data2
      min median max   min median max
key
A       0    1.5   3     5    6.5   8
B       1    2.5   4     6    7.5   9
C       2    3.5   5     7    8.5  10

In [8]:
group.agg({"data1":"min","data2":"max"})

     data1  data2
key
A        0      8
B        1      9
C        2     10

In [9]:
def f(x): return x.max()-x.min()

In [10]:
group.agg(f)

     data1  data2
key
A        3      3
B        3      3
C        3      3

In [11]:
data=pd.DataFrame({"letter":list("ABC")*4,"num":["one","two"]*6,"d1":np.random.randn(12),"d2":np.arange(10,33,2)})

In [12]:
data

   letter  num        d1  d2
0       A  one  0.344462  10
1       B  two  0.289973  12
2       C  one -1.519902  14
3       A  two  0.412477  16
4       B  one -0.435939  18
5       C  two  0.233416  20
6       A  one -0.216415  22
7       B  two  0.322121  24
8       C  one  1.369615  26
9       A  two  0.065234  28
10      B  one  0.855176  30
11      C  two  1.576666  32

In [13]:
group=data.groupby(["letter","num"])

In [14]:
group_d1=group["d1"]

In [15]:
group_d1.agg("mean")

letter  num
A       one    0.064023
        two    0.238856
B       one    0.209618
        two    0.306047
C       one   -0.075144
        two    0.905041
Name: d1, dtype: float64

In [16]:
group_d1.agg(["mean","std",f])

                mean       std         f
letter num
A      one  0.064023  0.396600  0.560877
       two  0.238856  0.245538  0.347243
B      one  0.209618  0.912956  1.291115
       two  0.306047  0.022732  0.032148
C      one -0.075144  2.043197  2.889516
       two  0.905041  0.949822  1.343251

In [17]:
group_d1.agg([("f_mean","mean"),("f_std",np.std)])

C:\Users\Adria\AppData\Local\Temp\ipykernel_34528\2282858695.py:1: FutureWarning: The provided callable <function std at 0x000001A7237BF560> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  group_d1.agg([("f_mean","mean"),("f_std",np.std)])

              f_mean     f_std
letter num
A      one  0.064023  0.396600
       two  0.238856  0.245538
B      one  0.209618  0.912956
       two  0.306047  0.022732
C      one -0.075144  2.043197
       two  0.905041  0.949822

In [18]:
group.agg({"d1":["count","max","mean"],"d2":"sum"})

              d1                      d2
           count       max      mean sum
letter num
A      one     2  0.344462  0.064023  32
       two     2  0.412477  0.238856  44
B      one     2  0.855176  0.209618  48
       two     2  0.322121  0.306047  36
C      one     2  1.369615 -0.075144  40
       two     2  1.576666  0.905041  52

In [19]:
data.groupby(["letter","num"],as_index=False).mean()

  letter  num        d1    d2
0      A  one  0.064023  16.0
1      A  two  0.238856  22.0
2      B  one  0.209618  24.0
3      B  two  0.306047  18.0
4      C  one -0.075144  20.0
5      C  two  0.905041  26.0

In [20]:
data

   letter  num        d1  d2
0       A  one  0.344462  10
1       B  two  0.289973  12
2       C  one -1.519902  14
3       A  two  0.412477  16
4       B  one -0.435939  18
5       C  two  0.233416  20
6       A  one -0.216415  22
7       B  two  0.322121  24
8       C  one  1.369615  26
9       A  two  0.065234  28
10      B  one  0.855176  30
11      C  two  1.576666  32

In [21]:
group=data.groupby("letter")

In [22]:
group["d2"].apply(lambda x:x.describe())

letter
A       count     4.000000
        mean     19.000000
        std       7.745967
        min      10.000000
        25%      14.500000
        50%      19.000000
        75%      23.500000
        max      28.000000
B       count     4.000000
        mean     21.000000
        std       7.745967
        min      12.000000
        25%      16.500000
        50%      21.000000
        75%      25.500000
        max      30.000000
C       count     4.000000
        mean     23.000000
        std       7.745967
        min      14.000000
        25%      18.500000
        50%      23.000000
        75%      27.500000
        max      32.000000
Name: d2, dtype: float64

In [27]:
math=pd.DataFrame({"Class":list("AB")*3,"Stu":["Kim","Same","Tim","Tom","John","idk"],"Score":[60,70,np.nan,55,np.nan,80]})
math

  Class   Stu  Score
0     A   Kim   60.0
1     B  Same   70.0
2     A   Tim    NaN
3     B   Tom   55.0
4     A  John    NaN
5     B   idk   80.0

In [28]:
group=math.groupby("Class")

In [29]:
group.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [30]:
func=lambda f:f.fillna(f.mean())

In [31]:
group.apply(func)

TypeError: Could not convert ['KimTimJohn'] to numeric

In [32]:
value={"A":100,"B":50}

In [33]:
func1=lambda f:f.fillna(value[f.name])

In [ ]:
group.appl